<header>
  <nav>
    <a href="/">Accueil</a> |
    <a href="/games">Tous les jeux</a> |
    <a href="/games/new">Ajouter un jeu</a> |
    <a href="/genres">Genres</a> |
    <a href="/publishers">Éditeurs</a>
  </nav>
</header>
